DEBUG=True

SECRET_KEY=change-me

ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_NAME=rentflow_db
DATABASE_USER=rentflow
DATABASE_PASSWORD=rentflowpassword
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433

REDIS_URL=redis://127.0.0.1:6379
CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=RentFlow <no-reply@example.com>

FRONTEND_PROTOCOL=http
FRONTEND_DOMAIN=127.0.0.1:8000
API_BASE_URL=http://127.0.0.1:8000

PAYMENT_AUTO_SEND_RECEIPT=false
OPS_ALERTS_ENABLED=false
OPS_ALERTS_EMAILS=

NOTIFICATION_CHANNELS=email,sms,whatsapp
RENT_REMINDER_DAYS=-3,0,3

WHATSAPP_PROVIDER=africastalking
WHATSAPP_SIMULATE=true
WHATSAPP_USE_TEMPLATE=true
WHATSAPP_TEMPLATE_NAME=rent_reminder
WHATSAPP_TEMPLATE_LANGUAGE=fr
WHATSAPP_TEMPLATE_CATEGORY=UTILITY
WHATSAPP_VERIFY_TTL_MINUTES=10

SMS_PROVIDER=africastalking
SMS_SIMULATE=true
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
AFRICASTALKING_SENDER_ID=
AFRICASTALKING_WHATSAPP_NUMBER=

# CinetPay (Billing)
CINETPAY_ENABLED=false
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_SECRET_KEY=
CINETPAY_BASE_URL=https://api-checkout.cinetpay.com/v2/payment
CINETPAY_CHECK_URL=https://api-checkout.cinetpay.com/v2/payment/check
CINETPAY_NOTIFY_URL=http://127.0.0.1:8000/api/v1/billing/cinetpay/webhook/
CINETPAY_RETURN_URL=http://127.0.0.1:8000/billing/return
CINETPAY_CHANNELS=ALL
CINETPAY_LANG=FR
CINETPAY_CUSTOMER_COUNTRY=BF
CINETPAY_CUSTOMER_CITY=Ouagadougou
CINETPAY_CUSTOMER_ADDRESS=N/A
CINETPAY_CUSTOMER_ZIP=00000
CINETPAY_CUSTOMER_STATE=BF
