{% block subject %}{{ site_name }} | Mot de passe modifié{% endblock %}

{% block text_body %}
Bonjour {{ user.full_name|default:user.phone_number }},

Votre mot de passe a été modifié avec succès.
Si vous n'êtes pas à l'origine de ce changement, contactez-nous immédiatement.

— L'équipe {{ site_name }}
{% endblock %}

{% block html_body %}
<p>Bonjour {{ user.full_name|default:user.phone_number }},</p>
<p>Votre mot de passe a été modifié avec succès.</p>
<p>Si vous n'êtes pas à l'origine de ce changement, contactez-nous immédiatement.</p>
<p>— L'équipe {{ site_name }}</p>
{% endblock %}
